@font-face{
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face{
    font-family: Montserrat;
    src: url(fonts/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: bold;
}

* {
    box-sizing: border-box;
}
body {
    background-color: #f9f9f9;
    font-family: Montserrat, sans-serif;
    margin: 0;
}

#page-container {
    margin-top: 10vh;
    position: relative;
    min-height: 100vh;
    padding-bottom: 8vh;
}

#title{
    color: #830086;
    text-align: center;
    
}

hr{
    color: #830086;
    width: 40%;
}

.no-select, #top-nav h4, footer{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; 
}

/* Top Navigation */

#top-nav *{
    color: #f9f9f9;
}

#top-nav h4{
    display: inline;   
}

#top-nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #830086;
    padding: 2.5vh 6vw;
    margin: auto;
    z-index: 99;
}

#top-nav nav {
    float: right;
    text-decoration: none;
}

#top-nav nav a{
    text-decoration: none;
    padding: 1vh 1.5vw;
}

#top-nav nav a:hover{
    background-color: #f9f9f9;
    color: #830086;
    border-radius: 20px;
}

/* Search Banner */

#search-banner{
    color: #830086;
    display: flex;
    max-height: 35vh;
    max-width: 80vw;
    margin: auto;
}


#search-banner img{
    padding: 2vh;
    object-fit: contain;
    max-width: 50%;
}

#search-banner #text{
    flex-grow: 1;
    text-align: left;
    align-self: center;
}

#search-banner #text h4{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

#search-banner #text form {
    display: flex;
    justify-content: left;
}

#search-banner #text form input{
    border-radius: 20px 0 0 20px;
    border: 1px solid #830086;
    padding: 5px 15px;
    
}

#search-banner #text form input:focus{
    border: 2px solid #4e71b3;  
}

#search-banner form button{
    border-radius: 0 20px 20px 0;
    background-color: #830086;
    border: 1px solid #830086;
    color: #f9f9f9;
    font-size: 1.2em;
    cursor: pointer;
}

/* Auto Complete */

.autocomplete {
    position: relative;
    display: inline-block;
  }

.autocomplete-items {
    position: absolute;
    margin-left: 10px;
    border: 1px solid #d4d4d4;
    max-height: 300px;
    overflow: scroll;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

/* Main */

#main-container {
    display: flex;
    max-width: 80vw;
    margin: auto;
}

/* Common Aside Code */

#main-container aside a {
    margin: 30px auto;
    display: block;
}

#main-container aside a,
#daily-changes aside button 
{
    background-color: #f9f9f9;
    max-width: 150px;
    text-decoration: none;
    color: #830086;
    border: 1px solid #830086;
    border-radius: 20px;
    padding: 10px 15px;
}

#main-container aside a:hover,
#daily-changes aside button:hover{
    color: #f9f9f9;
    background-color: #830086;
}

#main-container aside{
    flex-grow: 2;
    margin: auto 20px;
}

#main-container hr{
    margin:10px 10vw 15px  0;
    width: initial;
    border: 2px solid #830086;
    justify-self: center;
}

#main-container #right{
    flex-grow: 3;
    text-align: center;
    color: #830086;
}

#main-container #right #cards{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.card-odd, .card-even{
    flex-grow: 1;
    min-width: 150px;
    margin: 3vw;
    padding-left: 2vw;
    padding-bottom: 6vh;
    border: 6px solid #830086;
    border-radius: 30px;
    text-align: left;
}

.card-even {
    background-color: #830086;
    color: #f9f9f9;  
}

/* Daily Changes */

#daily-changes{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

#daily-changes aside{
    display: flex;
    align-content: space-around;
    justify-content: center;
}

#daily-changes aside *{
    margin: 0 20px 10px;
}

#daily-changes table{
    align-self: center;
}

/* Table */

table{
    margin: auto;
}

table,table *{
    border: 1px solid #830086;
    border-collapse: collapse;
}

table *{
    padding: 5px
}


/* Suggestion Form */

#suggestion-form form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

#suggestion-form form *{
    padding: 10px;
}

#suggestion-form form :last-child{
    padding: 10px 20px;
    width: max-content;
    margin: 15px auto;
    border: 1px solid #830086;
    border-radius: 20px;
    background-color: #830086;
    color: #f9f9f9;
}

#suggestion-form form :last-child:hover{
    background-color: #f9f9f9;
    color: #830086;
    cursor: pointer;
}


/* Footer */

footer {
    position: fixed;
    height: 8vh;
    padding-top: 1vh;
    bottom: 0;
    width: 100%;
    background-color: #830086;
    border-top: 1px solid #f9f9f9;
    color: #f9f9f9;
    text-align: center;
    font-size: .9em;
}

footer a {
    color: #f9f9f9;
}

@media screen and (max-width: 900px){
    
    /* Main */

    #main-container{
        flex-direction: column;
        align-content: center;
    }

    #main-container aside{
        display: flex;
        justify-content: center;
    }

    #main-container aside a{
        margin: 20px 5px auto;
    }

    #main-container hr{
        margin: 20px 20px 0;
        border-width: 1px;
    }

    #main-container #right #cards{
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 600px){
    
    #page-container{
        margin-top: 15vh;
    }

    /* Nav */
    
    #top-nav {
        text-align: center;
    }

    #top-nav nav{
        background-color: #830086;
        float: none; 
        display: block;
        margin-top: 1.5vh;
    }

    /* Search Banner */
    #search-banner img{
        display: none;
    }

    #search-banner #text{
        margin: 0 auto;
        background-image: url(../img/world-map.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: #830086;
        text-shadow: -2px -2px 1px #f9f9f9;
        min-height: 20vh;
        width: min-content;
        
    }

    #search-banner{
        display: initial;
    }
}